footer {
    text-align: center;
    p {
     color: gray;
    }
    img {
        border: none;
        width: 75px;
        padding: 0;
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: white;
}

.juno {
    color: #D64C31;
}

.tmdb {
    color: turquoise;
}
